data/raw/
data/processed/

data/
dashboard/DA_Project_PulseMap_India.pbix

# Jupyter checkpoints
.ipynb_checkpoints/
__pycache__/
*.pyc

# Virtual environment
venv/
env/
*.env
DA_Pr_PMI/
pulsemap_india.egg-info/

# Logs
logs/
notebooks/logs/

# Artifacts
artifacts/

# OS files
.DS_Store
Thumbs.db
*.db

# Excel/CSV raw files
*.xlsx
*.xls
*.csv

# IDE
.vscode/
.idea/