data/raw/
data/processed/

# Jupyter checkpoints
.ipynb_checkpoints/
__pycache__/
*.pyc

# Virtual environment
venv/
env/
*.env
DA_Pr_PMI/

# Logs
logs/

# Artifacts
artifacts/

# OS files
.DS_Store
Thumbs.db

# Excel/CSV raw files
*.xlsx
*.xls
*.csv

# IDE
.vscode/
.idea/